langchain
langchain-openai
langchain-community
langchain-core
langgraph
pandas
requests
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
openai
python-dotenv
Authlib
streamlit-authenticator
plotly
supabase-py
pydantic
